
<footer class="d-flex flex-wrap justify-content-between align-items-center py-2 px-4 border-top fixed-bottom bg-danger text-white">
    <a routerLink="/menu" class="text-body-secondary py-2"><i class="fa-solid fa-house text-white"></i></a>
    
    <a routerLink="/carrito" class="text-body-secondary"><i class="fa-solid fa-cart-shopping text-white"></i></a>
    
    <a routerLink="/favoritos" class="text-body-secondary"><i class="fa-solid fa-heart text-white"></i></a>
    
    <a routerLink="/pedidos" class="text-body-secondary"><i class="fa-solid fa-list text-white"></i></a>
    
    <a routerLink="/home" class="text-dark"><img src="assets/logo.png" alt="Home" width="30"></a>
</footer>