<div class="container-flex content background-image">
    <div class="row">
    <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">Lista de Productos</h2>
            <div class="d-flex mb-3">
                <input (input)="buscar()" [(ngModel)]="nombre" type="text" class="form-control me-2 flex-grow-1" placeholder="Buscar Producto...">
                <button (click)="buscar()" class="btn btn-secondary" type="button"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </div>
                <!-- <a class="btn btn-primary ms-2" routerLink="/producto/null/Crear"><i class="fa-solid fa-plus"></i></a> -->
                <div class="d-flex justify-content-center my-3">
                    <button type="button" class="btn btn-success" routerLink="/producto/null/Crear">
                        <i class="fa-solid fa-plus"></i> Agregar producto
                    </button>
                </div>
                <!-- <button class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#nuevoproductoModal">
                    <i class="fa-solid fa-plus"></i>
                </button> -->
            </div>
           
        <div>
            @for (producto of arrayFiltred; track producto.id) {

                <div class="card order-item mb-3">
                <div class="row g-0 align-items-center">
                    <div class="col-4">
                    <img src="../assets/hamburguesas.png" class="img-fluid rounded-start order-img" width="100" alt="Sushi Wave">
                    </div>
                    <div class="col-8">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                        <h5 class="card-title fw-bold mb-0">Nombre</h5>
                        <h5 class="fw-bold mb-0">{{producto.nombre}}</h5>
                        </div>
                        <div class="d-flex justify-content-between align-items-start">
                        <h5 class="">Precio</h5>
                        <h5 class="fw-bol mb-0">${{producto.precio}}</h5>
                        </div>

                        <div class="d-flex justify-content-between align-items-start">
                        <p >Categoria</p>
                        <p>{{producto.id_categoria}} Implementar funcion para agrarra el nombre</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-start">
                        <p >Stock</p>
                        <p>{{producto.stock}}</p>
                        </div>

                        <div class="d-flex justify-content-between align-items-start">
                        <p>Descripción</p>
                        <p>{{producto.descripcion}}</p>
                        </div>

                        <div class="d-flex justify-content-between align-items-start mt-3">
                        <button type="button" class="btn btn-success" routerLink="/producto/{{producto.id}}/Modificar">
                            <i class="fa-solid fa-edit"></i> Editar
                        </button>

                        <button type="button" routerLink="/producto/{{producto.id}}/Eliminar" class="btn btn-danger "><i class="fa-solid fa-trash"></i>Eliminar</button>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            }

            </div>



        </div>
    </div>

    