<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <!-- <h2 class="text-center mb-4">
                Deseas {{ tipoOperacion }} Usuario con id {{ userId === 'null' ? '' : userId }}
            </h2> -->

            @if (tipoOperacion === 'Crear') {
                <div class="row justify-content-center w-100">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title text-center">Crear Producto</h2>
                                <form [formGroup]="formProducto">
                                    <div class="mb-3">
                                        <label for="nombre" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="Nombre" formControlName="nombre">
                                    </div>
                                    <div class="mb-3">
                                        <label for="descripcion" class="form-label">Descripcion</label>
                                        <input type="text" class="form-control" formControlName="descripcion" id="descripcion" placeholder="Descripcion" formControlName="descripcion">
                                    </div>
                                    <div class="mb-3">
                                        <label for="precio" class="form-label">Precio</label>
                                        <input type="number" class="form-control" formControlName="precio" id="precio" placeholder="Precio" formControlName="precio">
                                    </div>
                                    <div class="mb-3">
                                        <label for="stock" class="form-label">Stock/Cantidad</label>
                                        <input type="number" class="form-control" formControlName="stock" id="stock" placeholder="Stock" formControlName="stock">
                                    </div>
                                    
                                    <div class="mb-3">
                                        <label for="id_categoria" class="form-label">Categoría</label>
                                        <select class="form-select" id="id_categoria" formControlName="id_categoria">
                                            <option [ngValue]="1">Pastas</option>
                                            <option [ngValue]="2">Hamburguesas</option>
                                            <option [ngValue]="3">Panchos</option>
                                        </select>
                                        </div>

                                        <div class="text-center">
                                    <button type="submit" (click)="createProducto()" class="btn btn-success">
                                        <i class="fa-solid fa-pen-to-square"></i> Crear Producto
                                    </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (tipoOperacion === 'Modificar') {
                <div class="row justify-content-center w-100">
                    <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                        <h2 class="card-title text-center">Modificar Producto</h2>

                        <form [formGroup]="formProducto">
                            <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input
                                type="text"
                                class="form-control"
                                formControlName="nombre"
                                id="nombre"
                                placeholder="Nombre del producto"
                            />
                            </div>

                            <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <input
                                type="text"
                                class="form-control"
                                formControlName="descripcion"
                                id="descripcion"
                                placeholder="Descripción del producto"
                            />
                            </div>

                            <div class="mb-3">
                            <label for="precio" class="form-label">Precio</label>
                            <input
                                type="number"
                                class="form-control"
                                formControlName="precio"
                                id="precio"
                                placeholder="Precio"
                            />
                            </div>

                            <div class="mb-3">
                            <label for="stock" class="form-label">Stock/Cantidad</label>
                            <input
                                type="number"
                                class="form-control"
                                formControlName="stock"
                                id="stock"
                                placeholder="Cantidad disponible"
                            />
                            </div>

                            <div class="mb-3">
                            <label for="id_categoria" class="form-label">Categoría</label>
                            <select class="form-select" id="id_categoria" formControlName="id_categoria">
                                <option value="1">Pastas</option>
                                <option value="2">Hamburguesas</option>
                                <option value="3">Panchos</option>
                            </select>
                            </div>

                            <div class="text-center">
                            <button type="submit" (click)="updateProducto()" class="btn btn-primary">
                                <i class="fa-solid fa-pen-to-square"></i> Modificar Producto
                            </button>
                            </div>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
                }


            @if (tipoOperacion === 'Eliminar') {
                <div class="row justify-content-center w-100">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title text-center">{{ tipoOperacion }}</h2>
                                <form>
                                    <div>
                                        <button type="button" routerLink="/productos" class="btn btn-primary">Cancelar</button>
                                        <button type="button" (click)="deleteProducto(productoId)" routerLink="/productos" class="btn btn-danger">Eliminar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
