<div class="col-12">
    <div class="card product-card">
        <div class="row g-0">
            <div class="col-4">
                <img [src]="imagenSrc" class="img-fluid rounded-start product-img" [alt]="imagenAlt">
            </div>
            <div class="col-8">
                <div class="card-body d-flex flex-column h-100">
                    <h5 class="card-title fw-bold">{{ titulo }}</h5>
                    <p class="card-text">{{ texto }}</p>
                    <div class="d-flex justify-content-between align-items-center mt-auto">
                        <h5 class="price fw-bold mb-0">{{ precio }}</h5>
                        <a href="#" class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping fa-xl"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
